name: Publish npm package
on:
  workflow_dispatch:
    inputs:
      version:
        description: Bump Version
        default: X.Y.X
        required: true
    
jobs:
  prepare-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: oleksiyrudenko/gha-git-credentials@v2-latest
      with:
        token: '${{ secrets.GITHUB_TOKEN }}'
    - name: Create release branch
      run: git checkout -b release/${{ github.event.inputs.version }}
    - name: Push release branch to remote
      run: git push --set-upstream origin release/${{ github.event.inputs.version }}
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Replace version placeholder
      run: sh scripts/replace-next-version-tag.sh ${{ github.event.inputs.version }}
    - name: Install node packages
      run: npm install
    - name: Generate docs
      run: npm run docs
    - name: Add and Commit changes
      uses: EndBug/add-and-commit@v7.0.0
      with:
        add: '.'
        message: 'Prepare release ${{ github.event.inputs.version }}'
        branch: release/${{ github.event.inputs.version }}
  
  create-release:
    needs: prepare-release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: release/${{ github.event.inputs.version }}
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.inputs.version }}
        release_name: ${{ github.event.inputs.version }}
        body: Release ${{ github.event.inputs.version }}
        draft: false
        prerelease: false

  publish:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.version }}
    - uses: oleksiyrudenko/gha-git-credentials@v2-latest
      with:
        token: '${{ secrets.GITHUB_TOKEN }}'
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Install node packages
      run: npm install
    - name: Set package version
      run: npm version ${{ github.event.inputs.version }}
    - name: Build index
      run: npm run cti
    - name: Build project
      run: npm run build
    - name: Run tests with coverage
      run: npm test
    - name: Check format
      run: npm run check-format
    - name: Run linter
      run: npm run lint
    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
  
  create-pull-request:
    needs: publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.version }}
    - uses: oleksiyrudenko/gha-git-credentials@v2-latest
      with:
        token: '${{ secrets.REPO_PAT }}'
    - uses: repo-sync/pull-request@v2
      with:
        source_branch: release/${{ github.event.inputs.version }}
        destination_branch: ${{ github.ref }}
        pr_title: Merge changes after release ${{ github.event.inputs.version }}
        github_token: ${{ secrets.REPO_PAT }}